@use 'variables';

@mixin desktop-view ($width, $height: unset, $font-size: unset) {
    @media (min-width: 1440px){
            width: $width;
            height: $height;
            font-size: $font-size;
        
    }
}

@mixin button ($bg-color, $br-color, $color, $width, $height, $center) {
    display: block;
    background-color: $bg-color;
    border: 1px solid $br-color;
    color: $color;
    border-radius: 50px;
    width: $width;
    height: $height;
    @if $center == true{
        margin: 0 auto;
    }
}

@mixin button-hover($bg-color, $color){
    &:hover{
        cursor: pointer;
        background-color: $bg-color;
        border-color: $bg-color;
        color: $color;
    }
}

@mixin stats ($logo){
    margin-bottom: 98px;              
        &__logo{
            width: $logo;       
        }

        &__stats{
            text-align: center;
            font-size: 4rem;
            margin: 0;
            
        }
        &__description{
            font-size: 0.8em;
            text-align: center;   
            @content;     
        }
};
@mixin stats-desktop($logo){
    @media (min-width: 1440px){
        &__logo{
            width: $logo;
        }
        &__stats{
            font-size: 6em;
        }
        &__description{
            font-size: 1.5em;
            width: 300px;
        }
    }
}

@mixin flexSections{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin-bottom: 180px; */
    padding: 150px 0;
    .img-container__illustration{
        margin-bottom: 78px;
        width: 246px;
    }
    .description{
        &__title{
            font-family: variables.$Headings-font;
            font-size: 1.2em;
            margin-bottom: 12px;
        }
        &__content{
            font-size: 0.9em;
            width: 350px;
        }
    }
}

@mixin flexSections-desktop($direction: row-reverse) {
    @media (min-width: 1440px){
        flex-direction: $direction;
        justify-content: space-around;
        height: 550px;
        .img-container__illustration{
            width: 527px;
        }
        .description{
            &__title{
                font-size: 2.3em;
                text-align: left;
            }
            &__content{
                text-align: left;
                font-size: 1em;
                width: 495px;
            }
        }
    }
}
@mixin banner($url-top, $url-bottom){
    background: {
        image: url($url-top), url($url-bottom);
        repeat: no-repeat, no-repeat;
        position-y: top, bottom;
    };
}

@mixin banner-desktop($url-top, $url-bottom){
    @media (min-width: 1440px){
        background: {
            image: url($url-top), url($url-bottom);
            repeat: no-repeat;
        };
    }
}